.menu .ant-menu-item{
    border-color: transparent !important;
    border-radius: 30px !important;
}


.menu .ant-menu-item-selected {
  color: #ffffff !important;         
  background-color: #043bb3!important; 
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #043bb3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar1 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #043bb3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.ant-modal-close {
  color: #043bb3 !important; 
  border-radius: 20px !important;
  background-color: #d9d9d9 !important;

}

.ant-modal-close:hover{
  background-color: #737373!important;
}

.card-contain{
    width: 790px !important;
    height: 111px;
    background-color: transparent;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    margin-top: 50px;
}

.card {
  width: 244px;
  height: 107px;
  background-color: #ffffff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-right:20px;
}

.circle {
  width: 55px;
  height: 55px;
  border-radius: 50%; 
  background-color: #ffffff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  margin-top: 26px;
  margin-left: 20px;
}

.profile-footer {
  width: 100%;
  text-align: center;
  font-size: 14px !important;
  color: #ffffff !important;
  position: absolute; 
  bottom: 0px !important;
  left: 10px;
}



