.menu .ant-menu-item{
    border-color: transparent !important;
    border-radius: 30px !important;
}


.menu .ant-menu-item-selected {
  color: #ffffff !important;         
  background-color: #043bb3!important; 
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #043bb3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar1 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #043bb3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.ant-modal-close {
  color: #043bb3 !important; 
  border-radius: 20px !important;
  background-color: #d9d9d9 !important;

}

.ant-modal-close:hover{
  background-color: #737373!important;
}



.profile-footer {
  width: 100%;
  text-align: center;
  font-size: 14px !important;
  color: #ffffff !important;
  position: absolute; 
  bottom: 0px !important;
  left: 10px;
}

.doctor-body {
  flex: 1 1 auto;
  padding-top: 12px;
  border-radius: 20px;
  overflow: auto;
}

.ant-dropdown-menu .ant-dropdown-menu-item:hover {
  background-color: #043bb3!important; /* nền xanh nhạt khi hover */
  color: #ffffff !important;
}
.ant-dropdown-menu {
  width: 80px;
  text-align: center;
}