
.profile-container {
  position: relative;
  width: 840px !important;
  height: 407px;
  background-image: url("/src/assets/background.png");
  background-size: cover;      
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  flex-direction: column;       
}


/* Header */
.profile-header {
  background: linear-gradient(90deg, #043bb3, #000000);
  font-family: sans-serif;
  width: 840px !important;
  height: 70px;
  color: white;
  padding: 20px;
  align-items: center;
  position: relative;
  gap: 16px;
}

.avatar {
  position: absolute;
  top: 60px;
  left: 80px;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background: #043bb3 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #fff !important;
}

.header-name {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.header-code {
  margin: 0;
  font-size: 14px;
}

.edit-btn {
  position: absolute;   
  top: 115px;          
  right: 60px;  
  width: 80px;
  height: 24px;
  background-color: #043bb3;
  font-weight: bold;
  color: #ffffff;
}

.edit-btn:hover{
    background-color: #265ee0 !important;
    border-color: #265ee0 !important;
    color: #ffffff !important;
}

.profile-actions {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.custom-form {
  border-radius: 4px;
  margin-left: 34px;    
  margin-right: auto; 
  width: 100%;
  font-size: 10px;
}

.custom-form .ant-form-item-label > label {
  text-align: left; 
  width: 60px; 
  font-family: sans-serif;
  font-size: 12px !important;
  color: black;
  font-weight: bold;
}
.custom-form .ant-input {
  font-family: sans-serif;
  font-size: 12px !important; 
  color: black;
  background-color: transparent !important;
  border-color: #737373 !important;
}

.custom-form .ant-picker {
  font-family: sans-serif;
  font-size: 12px  !important;
  color: black;         
}

.custom-form .ant-picker-input > input {
  font-family: sans-serif;
  font-size: 12px !important;        
  color: black;
}

.custom-form .ant-form-item {
  margin-bottom: 8px;
}

.custom-form .ant-input[disabled] {
  background-color: transparent !important;
  color: #999 !important;
}



.profile-footer {
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #d9d9d9 !important;
  position: absolute; 
  bottom: 3px;
}
.saveBtn:hover {
  background-color: #595959 !important;
  border-color: #595959 !important;
  color: white !important;
}

.cancelBtn:hover{
    background-color: #b71c1f !important;
    border-color: #b71c1f!important;
    color : #ffffff !important;
}

.datePicker {
    background-color: transparent !important;
    border-color: #d9d9d9;
    color: black;
}
