


  .card-contain{
      width: 660px !important;
      height: 80px;
      background-color: transparent;
      display: flex;
      flex-direction: row;
      margin-top: 0 !important;

      

  }

  .card1 {
    width: 220px !important;
    height: 100px;
    background-color: #ffffff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin: 0px !important;
    margin-right: -120px !important;

  }

  .card2 {
    width: 220px !important;
    height: 100px;
    background-color: #ffffff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin: 0 !important;
    margin-left: 50px !important;
  }

  .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    background-color: #ffffff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    margin-top: 19px !important;
    margin-left: 20px;
  }

  .card-small {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 0;
    margin-right: 130px;
  }

  .circle-small {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    background-color: #ffffff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    margin: 0 !important;
    margin-top:  19px!important;
    margin-left: 27px !important;
  }

  .calendar-weekdays,
  .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 41px); /* 7 cột chia đều */
    text-align: center;
    gap: 5px;
  }

  .calendar-weekdays div {
    font-weight: bold;
    font-size: 12px;
  }

  .calendar-days div {
    padding: 10px;
    border-radius: 50%;
    font-size: 12px;
    line-height: 2;
  }

  .calendar-days .active {
    background-color: #043bb3;
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    margin-top: 4px;

  }

  .day-name {
    font-size: 12px;
    margin-bottom: 4px; /* khoảng cách giữa tên ngày và số */
  }

  .container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 25px;
    width: 660px;
    height: 235px;
    background-color: transparent;
  }

  .row {
    display: grid;
    grid-template-columns:  0.2fr 2fr 1fr 1fr 3fr 1fr; /* Chia cột */
    align-items: center;
    padding: 8px 12px;
    text-align: center;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    height: 40px;
  }


  .waiting {
    color: #043bb3;
    border-radius: 2px;
    border-color: #043bb3;
  }

  .news-scroll::-webkit-scrollbar { width: 6px; }
  .news-scroll::-webkit-scrollbar-thumb { background: #737373; border-radius: 10px; }
  .news-scroll::-webkit-scrollbar-track { background: #fff0f0; border-radius: 10px; }

.row span {
  display: block;     /* ép span xuống dòng */
  text-align: left;   /* căn trái */
  margin-left: 12px;
}

.symptom {
  max-width: 220px;      /* giới hạn chiều rộng */
  white-space: nowrap;   /* không xuống dòng */
  overflow: hidden;      /* ẩn phần thừa */
  text-overflow: ellipsis; /* hiện dấu ... */
}
