.button1 {
  width: 15vw;
  height: 7vh;
  margin-right: 2vh;
  border-radius: 10px;
  background-color: #043bb3;
  color: white;
  font-weight: bold;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3) !important;
}
.button2 {
  width: 15vw;
  height: 7vh;
  margin-left: 2vh;
  border-radius: 10px;
  background-color: #ffffff;
  color: #043bb3;
  font-weight: bold;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3) !important;
}

.header {
  margin-left: 2.5vw;
  padding-left: 1vw;
  padding-right: 1vw;
  width: 14vw;
  font-size: 25px;
  background-color: transparent;
}

.content1 {
  height: 110vh !important;
  max-width: 100vw !important;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.care {
  font-size: 70px;
  margin: 0;
  font-weight: bold;
}
.text {
  font-size: 15px;
  width: 60vw;
  text-align: center;
  font-weight: bold;
  margin-bottom: 3vw;
}
.login_doctor {
  margin-bottom: 3vh;
  width: 15vw;
  height: 6vh;
  border-radius: 15px;
  background-color: #043bb3;
  color: white;
  font-weight: bold;
}
.login_patient {
  margin-bottom: 3vh;
  margin-left: 10vh;
  width: 15vw;
  height: 6vh;
  border-radius: 15px;
  background-color: #ffffff;
  color: #043bb3;
  font-weight: bold;
}
.row {
  margin-top: 17vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7vw;
}
.card {
  width: 25vw;
  height: 25vh;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3) !important;
  border-radius: 10px;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #043bb3;
}

.content2 {
  height: 83vh !important;
  max-width: 100vw !important;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content2_in {
  width: 40vw;
  margin-top: 12vh;
  margin-left: 36vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  width: 35vw;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: bold;
  font-size: large;
}

.icon {
  color: #043bb3;
  font-size: 20px;
}
.highlight {
  color: #043bb3;
}

.content3_in {
  margin-top: 12vh;
  gap: 3vw;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title1 {
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  width: 35vw;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: bold;
  font-size: large;
}

.content3{
  height: 100vh !important;
  max-width: 100vw !important;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card2{
  width: 25vw;
  height: 30vh;
  align-items: center;
  justify-content: start;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #043bb3;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3) !important;
}

.content3_title {
  width: 50vw;
  text-align: center;
  margin-top: 10vh;
  font-weight: bold;
  font-size: 50px;
}

.content3_text {
  width: 50vw;
  text-align: center;
  margin-top: 5vh;
  font-weight: bold;
  font-size: 15px;
}

.content4{
  max-width: 100vw !important;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content4_title {
  max-width: 100vw;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 40px;
}

.content4_in {
  gap: 3vw;
  max-width: 100vw;
  display: flex;
}

.content4_text {
  border-left: #043bb3 4px solid;
  padding-left: 20px;
  font-weight: bold;
  font-size: 20px;
}

