/* Layout tá»•ng */
.doctor-layout {
  min-height: 100vh;
  max-width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  display: flex;
}
/* Sidebar */
.doctor-sider {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 2vh 0;
  box-shadow: 6px 0 8px rgba(0, 0, 0, 0.08);
  max-height: 100vh;
}
.doctor-body {
  background-color: transparent;
  width: 100%;
  height: 90vh;
}
.doctor-logo-container {
  width: 100%;
  height: 10vh;
}
.doctor-logo {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.doctor-menu {
  margin-top: 20vh;
  border-inline-end: none;
  background: transparent;
}

.doctor-menu-item {
  margin-bottom: 1vh !important;
  border-radius: 30px !important;
  width: 85% !important;
  margin-left: 8% !important;
}

.doctor-menu-item-selected {
  background-color: #043bb3 !important;
}

.doctor-menu-label {
  font-size: 14px;
  color: #000;
}

.doctor-menu-label-active {
  color: #fff;
}

.doctor-content {
  width: 100%;
  padding-left: 2vw;
  min-height: 100vh;
  background-color: transparent;
}
.doctor-header-container {
  padding-top: 2vh;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.doctor-header {
  margin-bottom: 20px;
}

.doctor-header-title {
  color: #043bb3;
  font-weight: bold;
  margin: 0;
}

.doctor-header-patients {
  cursor: default;
}

.doctor-header-patients.clickable {
  cursor: pointer;
  color: #1c5cb6ff;
  font-weight: bold;
}

.doctor-header-divider {
  color: #1c5cb6ff;
  font-weight: bold;
}

.doctor-header-patient-name {
  color: #043bb3;
  font-weight: bold;
}

.doctor-header-right {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 0.9vw;
}

.doctor-account-name {
  font-weight: bold;
  color: #043bb3;
}

.doctor-account-email {
  font-size: 12px;
  color: #737373;
}

.doctor-divider {
  margin-top: 16vh;
}
