/* Layout tá»•ng */
.doctor-body {
  flex: 1 1 auto;
  padding-top: 12px;
  border-radius: 20px;
  overflow: auto;
}
.doctor-layout {
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  display: flex;
}

/* Sidebar */
.doctor-sider {
  width: 205px;
  background-color: #f5f8fbff;
  display: flex;
  flex-direction: column;
  padding: 16px 0;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.08);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
}

.doctor-logo {
  position: fixed;
  width: 100px;
  height: 70px;
  margin-top: 20px;
  margin-left: 40px;
}

.doctor-menu {
  margin-top: 200px;
  border-inline-end: none;
  background: transparent;
}

.doctor-menu-item {
  width: 90%;
  margin: 0 auto;
  border-radius: 50px;
  margin-bottom: 10px;
}

.doctor-menu-item-selected {
  background-color: #043bb3 !important;
}

.doctor-menu-label {
  font-size: 14px;
  color: #000;
}

.doctor-menu-label-active {
  color: #fff;
}

/* Content */
.doctor-content {
  flex: 1;
  background-color: transparent;
  margin-left: 205px;
  padding: 0 48px;
  min-height: 100vh;
}

.doctor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.doctor-header-title {
  color: #043bb3;
  font-weight: bold;
  margin: 0;
}

.doctor-header-patients {
  cursor: default;
}

.doctor-header-patients.clickable {
  cursor: pointer;
  color: #1c5cb6ff;
  font-weight: bold;
}

.doctor-header-divider {
  color: #1c5cb6ff;
  font-weight: bold;
}

.doctor-header-patient-name {
  color: #043bb3;
  font-weight: bold;
}

.doctor-header-right {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: flex-end;
}

.doctor-account-name {
  font-weight: bold;
  color: #043bb3;
}

.doctor-account-email {
  font-size: 12px;
  color: #737373;
}

.doctor-footer {
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 10px;
}
.doctor-divider {
  margin: 50px 0;
  border-top: 1px solid #ffffffff;
}
