.container {
  width: 98%;
  padding-top: 0;
  background-color: rgba(255, 255, 255, 0.501);
}

.header {
  padding-top: 2vh;
  text-align: center;
}

.logo {
  width: 5%;
  background-color: #043bb3;
  border-radius: 40px;
  padding: 10px;
}

.title {
  color: #043bb3 !important;
  margin-top: 2vh;
}

.space {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  border-radius: 20px;
  width: 80%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  margin: 0px auto;
}
.searchRow {
  display: flex;
  gap: 2vw;
  width: 100%;
  justify-content: center;
}

.searchInput {
  width: 20vw !important;
}

.searchInput :global(.ant-select-selector) {
  height: 6vh !important;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.button {
  min-width: 20vw;
  border-radius: 40px;
  background-color: #043bb3 !important;
  color: white !important;
}

.resultCard {
  margin-top: 2vh;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noteSection {
  background-color: #c6e2fd;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.interactionCard {
  background-color: #c6e2fd;
}
.noInteractionCard {
  background-color: #fdc6c6;
}
.interactionBody {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}
.interactionCard :global(.ant-card-body) {
  padding: 0px;
}
.noInteractionCard :global(.ant-card-body) {
  padding: 0px;
}
.interactionHeader {
  padding-top: 2vh;
  display: flex;
  align-items: center;
  gap: 0.5vw;
  font-weight: 700;
}

.drugPara {
  padding-left: 2.2vw;
  font-weight: 500;
  margin-top: 0px;
}
.drugPara1 {
  padding-left: 2.2vw;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 0px;
}
.interDescription {
  padding-left: 2.2vw;
  padding-top: 0px;
  margin-top: 0px;
}
.warningCard {
  background-color: #c6e2fd;
  border-radius: 5px;
  border-color: transparent;
  margin: 2vh;
}

.warningBody {
  display: flex;
  flex-direction: row;
  gap: 0.9vw;
  width: 40vw;
  height: 4vh;
  padding-top: 1.5px;
}
